
*{
	box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Rubik:wght@300;400&display=swap');

body{

	align-content: center;
	justify-content: center;
	display: block;
	position: absolute;
	overflow: hidden;

}

#texto{
	color: white;
  	font-family: Open Sans, sans-serif;
 	font-weight: 800;
  	font-size: 8vw;
 	letter-spacing:  0.1rem;
 	display: block;
 	float: left;
 	margin-bottom: 0vh;
 	margin-left:55vw;
 	padding:20vh;
 	float: center;
 	align-self: center;
 	mix-blend-mode:screen;
 	

	align-self: center;
	color: white;
	border-color: red;
	position: absolute;



	size: 80vh;
	z-index:  1; 


}

#logo{
	
 	font-weight: 800;
  	font-size: 8vw;
 	letter-spacing:  0.1rem;
 	display: block;
 	float: center;
 	margin:40%,40%,40% 40%;

 	padding: 10vw,40vh;
 	float: center;
 	
 	mix-blend-mode: screen;
 	

	align-self: center;
	color: white;
	border-color: red;
	position: relative;



	size: 80vh;
	z-index:  1; 


}